{{- if ne .githubToken "" -}}
[url "https://{{- .githubToken -}}@github.com/"]
	insteadOf = git@github.com:

[url "https://{{- .githubToken -}}@github.com/"]
	insteadOf = https://github.com/
{{- end }}

[user]
    name = {{ .gitName | default "Your Name" }}
    email = {{ .gitEmail | default "your.email@example.com" }}
