{{- $passphrase := "" -}}
{{- $domain := "" -}}
{{- $githubToken := "" -}}
{{- $gitName := "" -}}
{{- $gitEmail := "" -}}

{{- if stdinIsATTY -}}

    {{- $passphrase = promptStringOnce . "passphrase" "gpg encryption passphrase" -}}

    {{- $domain = promptStringOnce . "domain" "domain to use" -}}

    {{- $githubToken = promptStringOnce . "githubToken" "github token" -}}

    {{- $gitName = promptStringOnce . "gitName" "git name" -}}

    {{- $gitEmail = promptStringOnce . "gitEmail" "git email" -}}

{{- end -}}

# Ensure that chezmoi works even if the we have not copied this repo
# to the default ~/.local/share/chezmoi directory.
workingTree = "{{ .chezmoi.workingTree }}"
sourceDir = "{{ .chezmoi.sourceDir }}"

encryption = "gpg"

[data]
{{- if $passphrase }}
    passphrase = {{ $passphrase | quote }}
{{- end }}
{{- if $domain }}
    domain = {{ $domain | quote }}
{{- end }}
{{- if $githubToken }}
    githubToken = {{ $githubToken | quote }}
{{- end }}
{{- if $gitName }}
    gitName = {{ $gitName | quote }}
{{- end }}
{{- if $gitEmail }}
    gitEmail = {{ $gitEmail | quote }}
{{- end }}

[gpg]
    symmetric = true
    args = [
        "--quiet",
        "--batch",
        {{- if $passphrase }}
        "--passphrase", {{ $passphrase | quote }},
        {{- end }}
        "--no-symkey-cache"
    ]

[keepassxc]
# It is too tedious to enter keepass word everytime when I try to apply changes.
# Comment out keepassxc database to skip querying keepassxc
#     database = {{ joinPath .chezmoi.homeDir "Sync/private/keepass/kdbx.kdbx" | quote }}
