[user]
	email = uuuuuu@protonmail.com
	name = YI

[http]
	cookiefile = ~/.gitcookies
; 	proxy = http://127.0.0.1:8118

; [https]
; 	proxy = http://127.0.0.1:8118

[color]
	ui = auto

[pull]
	rebase = true

[github]
	user = contrun

[alias]
	ignore = "!gi() { curl -sL https://www.gitignore.io/api/$@ ;}; gi"

[rebase]
	autoStash = true

[init]
	defaultBranch = main

[core]
	pager = delta
;	excludesFile = ~/.gitignore
;	https://stackoverflow.com/questions/66366582/github-unexpected-disconnect-while-reading-sideband-packet
  packedGitLimit = 512m 
  packedGitWindowSize = 512m 

[pack] 
  deltaCacheSize = 2047m 
  packSizeLimit = 2047m 
  windowMemory = 2047m

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default

[include]
	path = ~/.gitconfig.local
[protocol "file"]
	allow = always
