{{ $habitica_entry := "keyring/habitica" -}}
{{ $habitica_username := (keepassxc $habitica_entry).UserName -}}
{{ $habitica_password := (keepassxc $habitica_entry).Password -}}
{{ $habitica_url := (keepassxc $habitica_entry).URL -}}

{{ $wallabag_entry := "keyring/wallabag" -}}
{{ $wallabag_username := (keepassxc $wallabag_entry).UserName -}}
{{ $wallabag_password := (keepassxc $wallabag_entry).Password -}}
{{ $wallabag_url := (keepassxc $wallabag_entry).URL -}}
{{ $wallabag_client_id := keepassxcAttribute $wallabag_entry "ClientID" -}}
{{ $wallabag_client_secret := keepassxcAttribute $wallabag_entry "ClientSecret" -}}

{{ $unified_entry := "keyring/unified" -}}
{{ $unified_username := (keepassxc $unified_entry).UserName -}}
{{ $unified_password := (keepassxc $unified_entry).Password -}}
{{ $unified_smtp_server := keepassxcAttribute $unified_entry "SmtpServer" -}}
{{ $unified_smtp_port := keepassxcAttribute $unified_entry "SmtpPort" -}}

{{ $sudo_entry := "keyring/sudo" -}}
{{ $sudo_username := (keepassxc $sudo_entry).UserName -}}
{{ $sudo_password := (keepassxc $sudo_entry).Password -}}
{{ $sudo_name := keepassxcAttribute $sudo_entry "name" -}}
{{ $sudo_smtp_server := keepassxcAttribute $sudo_entry "SmtpServer" -}}
{{ $sudo_smtp_port := keepassxcAttribute $sudo_entry "SmtpPort" -}}

{{ $push_entry := "keyring/push" -}}
{{ $push_username := (keepassxc $push_entry).UserName -}}
{{ $push_password := (keepassxc $push_entry).Password -}}
{{ $push_smtp_server := keepassxcAttribute $push_entry "SmtpServer" -}}
{{ $push_smtp_port := keepassxcAttribute $push_entry "SmtpPort" -}}

{{ $work_entry := "keyring/work" -}}
{{ $work_username := (keepassxc $work_entry).UserName -}}
{{ $work_password := (keepassxc $work_entry).Password -}}
{{ $work_name := keepassxcAttribute $work_entry "name" -}}
{{ $work_smtp_server := keepassxcAttribute $work_entry "SmtpServer" -}}
{{ $work_smtp_port := keepassxcAttribute $work_entry "SmtpPort" -}}

(setq habitica-uid "{{ $habitica_username }}")
(setq habitica-token "{{ $habitica_password }}")

(setq wallabag-host "{{ $wallabag_url }}")
(setq wallabag-username "{{ $wallabag_username }}")
(setq wallabag-password "{{ $wallabag_password }}")
(setq wallabag-clientid "{{ $wallabag_client_id }}")
(setq wallabag-secret "{{ $wallabag_client_secret }}")

(defvar my-mu4e-account-alist
  '(("unified"
     (user-mail-address  "{{ $unified_username }}")
     (user-full-name     "Unified")
     (mu4e-sent-folder   "/unified/Sent")
     (mu4e-drafts-folder "/unified/Drafts")
     (mu4e-trash-folder  "/unified/Deleted")
     (mu4e-refile-folder "/unified/Archive")
     (smtpmail-default-smtp-server "{{ $unified_smtp_server }}")
     (smtpmail-smtp-user "{{ $unified_username }}")
     (smtpmail-smtp-server "{{ $unified_smtp_server }}")
     (smtpmail-stream-type starttls)
     (smtpmail-smtp-service {{ $unified_smtp_port }}))
    ("push"
     (user-mail-address  "{{ $push_username }}")
     (user-full-name     "Push")
     (mu4e-sent-folder   "/push/Sent")
     (mu4e-drafts-folder "/push/Drafts")
     (mu4e-trash-folder  "/push/Deleted")
     (mu4e-refile-folder "/push/Archive")
     (smtpmail-default-smtp-server "{{ $push_smtp_server }}")
     (smtpmail-smtp-user "{{ $push_username }}")
     (smtpmail-smtp-server "{{ $push_smtp_server }}")
     (smtpmail-stream-type starttls)
     (smtpmail-smtp-service {{ $push_smtp_port }}))
    ("work"
     (user-mail-address  "{{ $work_username }}")
     (user-full-name     "{{ $work_name }}")
     (mu4e-sent-folder   "/work/Sent")
     (mu4e-drafts-folder "/work/Drafts")
     (mu4e-trash-folder  "/work/Deleted")
     (mu4e-refile-folder "/work/Archive")
     (smtpmail-default-smtp-server "{{ $work_smtp_server }}")
     (smtpmail-smtp-user "{{ $work_username }}")
     (smtpmail-smtp-server "{{ $work_smtp_server }}")
     (smtpmail-stream-type starttls)
     (smtpmail-smtp-service {{ $work_smtp_port }}))
    ("sudo"
     (user-mail-address  "{{ $sudo_username }}")
     (user-full-name     "{{ $sudo_name }}")
     (mu4e-sent-folder   "/sudo/Sent")
     (mu4e-drafts-folder "/sudo/Drafts")
     (mu4e-trash-folder  "/sudo/Trash")
     (mu4e-refile-folder "/sudo/Archive")
     (smtpmail-default-smtp-server "{{ $sudo_smtp_server }}")
     (smtpmail-smtp-user "{{ $sudo_username }}")
     (smtpmail-smtp-server "{{ $sudo_smtp_server }}")
     (smtpmail-stream-type ssl)
     (smtpmail-smtp-service {{ $sudo_smtp_port }}))
    )
  )
