- name: configure hosts
  hosts: "{{ hsts | split(',') | select }}"
  vars:
  tasks:
    - set_fact:
        svcs: "{{ services | split(',') | select | default(enabled_services, true) }}"
    - debug:
        msg: "Installing services {{ svcs }}"
    - ansible.builtin.include_tasks: "tasks/{{ item }}.yml"
      with_items: "{{ svcs }}"
      ignore_errors: true
